<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Chage your passoword
    <form action="" method="post" novalidate>
    {%csrf_token%}
    {%for fm in form%}
   <div> {{fm.label_tag}} </div> <div>   {{fm}} </div>     {{fm.errors}}
    {%endfor%}
    <button type="submit">Submit</button>
    </form>
    <a href="{% url 'logout' %}">logout</a>
    <a href="{% url 'profile' %}">profile</a>

</body>
</html>