<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors%}
        {% for err in form.non_field_errors %}
            {{err}}
            {% endfor %}
        {% endif  %}
        {%for item in form%}
        {{item.label_tag}} {{item}} {{item.errors}}
        {%endfor%}
    <button type="submit">Submit</button>
    </form>
<a href="{% url 'registration' %}">Signup</a>

</body>
</html>  